p {color: orange;
     background-color: black;
     font-size: 20px;
     line-height: 22px;
     text-align: center;
     font-family: Arial;
     text-transform: uppercase;
     width: 50%;
     height: 18rem;
     }
