*{
  font-family: 'Allerta Stencil', sans-serif;
}

.header {
  background: url(../images/banner.jpg) no-repeat;
  background-size: 100%;
  min-height: 50vw;
  background-color: #1e2441;
  -webkit-filter: contrast(1.5);
  filter: contrast(1.5);
}

.header_menu {
  min-height: 50px;
}

.menu {
  display: flex;
}

.menu_text {
  white-space: nowrap;
  text-align: left;
  display: flex;
}

.menu_text p {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.menu_text p:first-child {
  color: #242943;
  background: white;
  height: 23px;
  padding: 0 5px;
}

.menu_nav {
  white-space: nowrap;
  text-align: right;
  display: flex;
  margin-left: auto;
  color: white;
  margin-right: 10px;
}

.menu_nav img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 16px;
}

.logo {
  margin: 20vw 0 0 20vw;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 650px) {
  .logo{
    margin: -1vh 0 0 10vh;
  }
}

.logo p {
  font-size: 1.3vw;
  text-transform: uppercase;
}

.logo h1 {
  font-size: 3vw;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 40vw;
  padding-bottom: 1vw;
}

.logo a {
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.5vw;
  height: 2vw;
  margin-top: 1vw;
  margin-left: 1vw;
}

.logo_text {
  display: flex;
}
                              /* row */
.row {
  display: flex;
  height: 20vw;
  color: rgb(255, 255, 255);

}

.row h2 {
  font-size: 2vw;
  margin: 7vw 0 0 2vw;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 15vw;
  padding-bottom: 1vw;
}

.row p {
  font-size: 1.5vw;
  margin: 1vw 0 0 2vw;
}

.row_block1 {
  background: url(../images/pic01.jpg) no-repeat;
  background-size: 100%;
  width: 40%;
  min-height: 300px;
  -webkit-filter: grayscale(6);
  filter: grayscale(6);
}

.row_block1:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.row_block2 {
  background: url(../images/pic02.jpg) no-repeat;
  background-size: 100%;
  min-height: 300px;
  width: 60%;
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.row_block2:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}

.row_block3 {
  background: url(../images/pic03.jpg) no-repeat;
  background-size: 100%;
  width: 60%;
  min-height: 300px;
  -webkit-filter: saturate(3);
  filter: saturate(3);
}

.row_block3:hover{
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.row_block4 {
  background: url(../images/pic04.jpg) no-repeat;
  background-size: 100%;
  min-height: 300px;
  width: 40%;
  -webkit-filter: invert(.9);
  filter: invert(.9);
}

.row_block4:hover {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.row_block5 {
  background: url(../images/pic05.jpg) no-repeat;
  background-size: 100%;
  width: 40%;
  min-height: 300px;
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.row_block5:hover {
  -webkit-filter: hue-rotate(0);
  filter: hue-rotate(0);
}

.row_block6 {
  background: url(../images/pic06.jpg) no-repeat;
  background-size: 100%;
  min-height: 300px;
  width: 60%;
  -webkit-filter: contrast(1);
  filter: contrast(1);
}

.row_block6:hover {
  -webkit-filter: contrast(3);
  filter: contrast(3);
}
                        /* main */
.main {
  min-height: 23vw;
  background: #2a2f4a;
}

.main_text {
  margin-top: 4vw;
  position: absolute;
  color: white;
  margin-left: 6vw;
  min-height: 100px;
}

@media screen and (max-width: 1250px) {
  .main_text {
    margin-top: 8vw
  }
}

@media screen and (max-width: 750px) {
  .main h1 {
    margin-bottom: -1vw;
  }
  .main p {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .main p {
    margin-bottom:-1vw;
  }
}

.main h1 {
  font-size: 1vw;
  position:static;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 12vw;
  padding-bottom: 1vw;
}

.main p {
  font-size: 1vw;
}

.main a {
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5vw;
  height: 1vw;
}
                      /* contacts */
.contacts {
  display: flex;
  background: #242943;
  color: white;
  min-height: 30vw;
}

.contacts_form {
  width: 100%;
  border: 0.002vw solid #363b56;
}

.contacts_form_flex {
  margin: 3vw 0 0 6vw
}

.contacts_form label {
  font-size: 1vw;
}

.contacts_form_flex input {
  background: #2a2f4a;
  border: none;
  height: 2.5vw;
  width: 17vw;
  margin-top: 0.5vw;
}

.contacts_form_flex_email {
  margin-left: 3vw;
}

.contacts_form_message {
  margin: 1vw 0 0 6vw
}

.contacts_form_message textarea {
  background: #2a2f4a;
  border: none;
  height: 10vw;
  width: 37vw;
  margin-top: 0.5vw;
}

.contacts_form_buttons {
  margin: 2vw 0 0 6vw;
}

.buttons_1 {
  background: #ffffff;
  border: none;
  height: 3vw;
  width: 10vw;
  font-size: 1vw;
}

.buttons_2 {
  background: #242943;
  border: 0.01vw solid  rgb(245, 245, 245);
  height: 3vw;
  width: 7vw;
  color: rgb(255, 255, 255);
  font-size: 1vw;
}

.contacts_info{
  width: 100%;
}

.info {
  border: 0.002vw solid #363b56;
}

.info img {
  width: 3vw;
  height: 3vw;
  float: left;
  margin: 2vw 0 0 2vw;
}

.info h3 {
  margin: 2.5vw 0 0 7vw;
  font-size: 1.4vw;
}

.info p {
  margin-left: 7vw;
  font-size: 1.3vw;
}

.contacts_form_flex {
  display: flex;
}

@media screen and (max-width: 800px) {
  .contacts {
    display: block;
    margin-top: -3vw;
  }
  .contacts_form {
    width: 100%;
    text-align: center;
  }
  .contacts_form_flex{
    display: flex;
    justify-content: center;
  }
  .contacts_info{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contacts_info_addres:last-child {
    margin-bottom: -2vw;
  }
}

@media screen and (max-width: 560px) {
  .buttons {
  display: flex;
  justify-content: center;
  }
}
                      /* social */
.social {
  background: #242943;
  color: #374766;
  height: 15vw;
}

.social_links img {
  width: 3vw;
  height: 3vw;
  margin: 4vw 0 0 6vw;
}

.social_copyright p {
  font-size: 1vw;
  margin: 2vw 0 0 6vw;
}
