* {
	margin: 0px;
	color: white;
	font-family: "Open Sans";
}

.first {
	background: url("../images/banner.jpg");
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	text-transform: uppercase;
	width: 100%;
}

.fade-banner {
	background: rgba(6, 3, 43, 0.6);
	min-height: 500px;
	float: left;
	width: 100%;
}

.fade-banner:after {
	content: "";
	display: block;
	clear: both;
}

.logo {
	margin: 10px 10px 0px 10px;
}

.logo div {
	float:left;
	padding: 2px 2px 2px 2px;
	margin-right: 5px;
	color: black;
	background-color: white;
}

.logo span {
	float: left;
}

menu {
	  padding-right: 10px;
	  float: right;
}

menu a {
	text-decoration: none;
	clear: both;
}

.first h1 {
	font-size: 30px;
	border-bottom: 1px solid;
	padding: 10% 0px 40px 0px;
	margin: 0px 50px 40px 50px;
	text-transform: none;
}

.first p {
	margin: 0px 50px 40px 50px;
	font-size: 12px;
	text-transform: uppercase;
	width: 40%;
	float: left;
}

.button {
	position: absolute;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid;
	padding: 5px;
}

.image-block {
	background: url("../images/pic01.jpg");
	min-height: 260px;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-block h2 {
	border-bottom: 1px solid;
	max-width: 200px;
	padding-bottom: 10px;
}

.image-block p {
	text-transform: uppercase;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

.column60 {
	float: left;
	width: 60%;
}

.column40 {
	float: left;
	width: 40%;
}

.img-1 {
	background-image: url("../images/pic01.jpg");
}

.img-2 {
	background-image: url("../images/pic02.jpg");
}

.img-3 {
	background-image: url("../images/pic03.jpg");
}

.img-4 {
	background-image: url("../images/pic04.jpg");
}

.img-5 {
	background-image: url("../images/pic05.jpg");
}

.img-6 {
	background-image: url("../images/pic06.jpg");
}

.fade-img-1 {
	background: rgba(15, 242, 231, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-1:hover {
	background: rgba(15, 242, 231, 0.0)
}

.fade-img-2 {
	background: rgba(209, 77, 209, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-2:hover {
	background: rgba(209, 77, 209, 0.0)
}

.fade-img-3 {
	background: rgba(240, 116, 62, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-3:hover {
	background: rgba(240, 116, 62, 0.0)
}

.fade-img-4 {
	background: rgba(245, 180, 42, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-4:hover {
	background: rgba(245, 180, 42, 0.0)
}

.fade-img-5 {
	background: rgba(64, 184, 245, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-5:hover {
	background: rgba(64, 184, 245, 0.0)
}

.fade-img-6 {
	background: rgba(38, 240, 82, 0.5);
	padding: 30px 70px;
	height: 200px;
	transition: background 1s ease 0s;
}

.fade-img-6:hover {
	background: rgba(38, 240, 82, 0.0)
}

.third {
	background: rgba(47, 56, 91, 1);
	min-height: 260px;
	float: left;
	width: 100%;
}

.third h1 {
    font-size: 30px;
	border-bottom: 1px solid;
	padding: 10% 0px 40px 0px;
	margin: 0px 50px 40px 50px;
	text-transform: none;
}

.third h1 {
	font-size: 30px;
	border-bottom: 1px solid;
	padding: 30px 0px 40px 0px;
	margin: 0px 50px 40px 50px;
	text-transform: none;
}

.third p {
	margin: 0px 30% 10px 50px;
	font-size: 12px;
	text-transform: uppercase;
	width: 80%;
}

.third p:after {
	content: "";
	display: block;
	clear: both;
}